:root { 
--black_900_7f:#0000007f; 
--gray_900_14:#191c1e14; 
--pink_900:#8f3535; 
--red_800:#cb2027; 
--red_400:#ee5858; 
--green_700:#2db223; 
--amber_A100:#f3de6d; 
--light_blue_900:#1b6392; 
--white_A700_99:#ffffff99; 
--green_A700:#25d366; 
--blue_gray_700:#475156; 
--blue_gray_900:#303639; 
--deep_orange_100:#ffcead; 
--yellow_200:#f7e99e; 
--black_900_0a:#0000000a; 
--gray_400:#b1b5b8; 
--blue_gray_100:#c9cfd2; 
--blue_700:#2484c2; 
--amber_500:#eac70b; 
--blue_gray_300:#929fa5; 
--blue_500:#2ca4f3; 
--yellow_50:#fdfae7; 
--red_50_01:#fdeeee; 
--blue_50:#eaf6fe; 
--white_A700_65:#ffffff65; 
--deep_orange_A200_1e:#f981311e; 
--gray_900_1e:#191c1e1e; 
--white_A700_68:#ffffff68; 
--white_A700_28:#ffffff28; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--indigo_600:#3b5998; 
--deep_orange_50:#fcdede; 
--deep_orange_A200:#f98131; 
--red_700:#be4646; 
--white_A700_1e:#ffffff1e; 
--light_green_100:#d5f0d3; 
--green_800:#248e1d; 
--amber_A200:#efd33d; 
--black_900_1e:#0000001e; 
--red_50:#fff3eb; 
--light_blue_800:#0077b5; 
--blue_500_01:#1da1f2; 
--black_900:#000000; 
--yellow_100:#fbf4ce; 
--black_900_a2:#000000a2; 
--blue_gray_200:#adb7bc; 
--blue_gray_400:#76868e; 
--blue_gray_600:#5f6c72; 
--gray_900:#191c1e; 
--gray_900_01:#141414; 
--blue_600:#3d95ce; 
--light_blue_50:#d5edfd; 
--orange_500:#ff9900; 
--green_50:#eaf7e9; 
--gray_300:#e4e7e9; 
--gray_300_01:#e0e1e1; 
--gray_100:#f2f3f4; 
--orange_50:#ffe7d6; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--cyan_900:#124261; 
}